#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.productlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productcard{
  max-width: 300px;
}

.productcard img{
    width: 100%;
}